@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans|Lora);
@import url(https://github.com/necolas/normalize.css/raw/master/normalize.css);
/* line 10, ../sass/design.scss */
body {
  background: #eeeeee;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 10pt;
  padding: 5px;
}

/* line 12, ../sass/design.scss */
h1 {
  clear: both;
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.2em;
}

/*
 * Twitter tweet list
 */
/* line 17, ../sass/design.scss */
div#oauthproxy_twitter_getTweets > div {
  border-radius: 8px;
  background: #b2b2b2;
  padding: 5px;
  margin-bottom: 5px;
}

/* line 24, ../sass/design.scss */
div#oauthproxy_twitter_getTweets > div:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

/* line 33, ../sass/design.scss */
div#oauthproxy_twitter_getTweets > div > p {
  margin: 0px;
  float: left;
}

/* line 38, ../sass/design.scss */
div#oauthproxy_twitter_getTweets > div > span {
  color: #999999;
  display: block;
  float: right;
}

/*
 * lastfm Last tracks
 */
/* line 47, ../sass/design.scss */
div#oauthproxy_lastfm_getTracks > div {
  border-radius: 8px;
  background: #b2b2b2;
  padding: 5px;
  margin-bottom: 5px;
}

/* line 54, ../sass/design.scss */
div#oauthproxy_lastfm_getTracks > div > span#date {
  color: #999999;
  float: right;
}

/*
 * lastfm favourite artists
 */
/* line 62, ../sass/design.scss */
div#oauthproxy_lastfm_getArtists {
  width: 100%;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

/* line 69, ../sass/design.scss */
div#oauthproxy_lastfm_getArtists > div {
  border-radius: 8px;
  background: #b2b2b2;
  padding: 10px;
  margin: 0 8px 16px 8px;
  display: inline-block;
  text-align: center;
}

/* line 78, ../sass/design.scss */
div#oauthproxy_lastfm_getArtists > div > img {
  border-radius: 4px;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 86, ../sass/design.scss */
div#oauthproxy_lastfm_getArtists > div > span {
  color: #999999;
}

/* line 90, ../sass/design.scss */
div#oauthproxy_lastfm_getArtists > div > span > a {
  color: #6e76d2;
}

/*
 * linkedin summary
 */
/* line 97, ../sass/design.scss */
div#oauthproxy_linkedin_getSummary {
  border-radius: 8px;
  background: #b2b2b2;
  padding: 10px;
}

/* line 107, ../sass/design.scss */
div#oauthproxy_linkedin_getSummary > div.profile > div.header {
  padding-bottom: 1em;
  border-bottom: 1px solid #888888;
}

/* line 112, ../sass/design.scss */
div#oauthproxy_linkedin_getSummary > div.profile img {
  border-radius: 4px;
  float: left;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}

/* line 119, ../sass/design.scss */
div#oauthproxy_linkedin_getSummary > div.profile span.name {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  display: block;
}

/* line 126, ../sass/design.scss */
div#oauthproxy_linkedin_getSummary > div.profile span.headline {
  display: block;
  color: #888888;
}

/* line 131, ../sass/design.scss */
div#oauthproxy_linkedin_getSummary > div.profile > p.specialties {
  color: #888888;
  font-style: italic;
  font-size: 0.8rem;
}

/* line 137, ../sass/design.scss */
div#oauthproxy_linkedin_getSummary > div.employers {
  border-top: 1px solid #888888;
  padding-top: 1em;
}

/* line 142, ../sass/design.scss */
div#oauthproxy_linkedin_getSummary > div.employers > p {
  font-size: 0.8rem;
}

/* line 146, ../sass/design.scss */
div#oauthproxy_linkedin_getSummary > div.employers > span.dates {
  display: block;
  font-size: 0.7rem;
  color: #888888;
  margin-bottom: 0.7rem;
}

/* line 153, ../sass/design.scss */
div#oauthproxy_linkedin_getSummary > div.employers > span.title {
  letter-spacing: 0.2em;
}

/* line 157, ../sass/design.scss */
div#oauthproxy_linkedin_getSummary > div.employers > span.company {
  color: #888888;
}

@media only screen and (min-width : 768px) {
  /* Styles */
  /* line 164, ../sass/design.scss */
  div#oauthproxy_lastfm_getArtists {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  /* line 170, ../sass/design.scss */
  div#oauthproxy_linkedin_getSummary > div.employers {
    margin-right: 1%;
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
}
@media only screen and (min-width : 1382px) {
  /* Styles */
  /* line 180, ../sass/design.scss */
  div#oauthproxy_lastfm_getArtists {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }

  /* line 186, ../sass/design.scss */
  div#oauthproxy_linkedin_getSummary > div.employers {
    width: 32%;
  }
}
